/*!
 * ress.css 窶｢ v1.2.2
 * MIT License
 * github.com/filipelinhares/ress
 */

/* # =================================================================
   # Global Selector
   # ================================================================= */

   html {
    box-sizing: border-box;
    overflow-y: scroll; /* スクロールバーをオーバーレイしないすべてのブラウザ */
    -webkit-text-size-adjust: 100%; /* iOS 8+ */
  }
  
  *,
  ::before,
  ::after {
    background-repeat: no-repeat; /* すべての要素と擬似要素に `background-repeat: no-repeat` を設定する。 */
    box-sizing: inherit;
  }
  
  ::before,
  ::after {
    text-decoration: inherit; /* text-decorationとvertical-alignを::beforeと::after疑似要素に継承する。 */
    vertical-align: inherit;
  }
  
  * {
    padding: 0; /* すべての要素の `padding` と `margin` をリセットする。 */
    margin: 0;
  }
  
  /* # =================================================================
     # General elements
     # ================================================================= */
  
  /* Add the correct display in iOS 4-7.*/
  audio:not([controls]) {
    display: none;
    height: 0;
  }
  
  hr {
    overflow: visible; /* EdgeとIEでオーバーフローを表示する */
  }
  
  /*
  * IE 8/9 の HTML5 要素で定義されていない `block` 表示を修正しました。
  * IE 10/11 で `details` または `summary` が定義されていない `block` 表示を修正した。
  * および Firefox
  * IE 11 の `main` で定義されていない `block` 表示を修正しました。
  */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  main,
  menu,
  nav,
  section,
  summary {
    display: block;
  }
  
  summary {
    display: list-item; /* すべてのブラウザで正しい表示を追加する */
  }
  
  small {
    font-size: 80%; /* small`要素のfont-sizeを80%に設定する。 */
  }
  
  [hidden],
  template {
    display: none; /* IEに正しい表示を追加する */
  }
  
  abbr[title] {
    border-bottom: 1px dotted; /* すべてのブラウザーでボーダーの下線効果を追加する */
    text-decoration: none; /* Firefox 40+でテキスト装飾を削除する */
  }
  
  a {
    background-color: transparent; /* IE 10でアクティブなリンクの灰色の背景を削除する */
    -webkit-text-decoration-skip: objects; /* iOS 8+とSafari 8+のリンクのアンダーラインのギャップを取り除く */
  }
  
  a:active,
  a:hover {
    outline-width: 0; /* すべてのブラウザでカーソルを合わせたときのアウトラインを取り除く */
  }
  
  code,
  kbd,
  pre,
  samp {
    font-family: monospace, monospace; /* コード要素のフォントファミリーを指定する*/
  }
  
  b,
  strong {
    font-weight: bolder; /* Edge 12+、Safari 6.2+、Chrome 18+で、スタイルを「太字」に設定する。 */
  }
  
  dfn {
    font-style: italic; /* SafariとChromeでアドレススタイルが表示されない */
  }
  
  /* IE 8/9でアドレススタイルが表示されない */
  mark {
    background-color: #ff0;
    color: #000;
  }
  
  /* https://gist.github.com/unruthless/413930 */
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  
  /* # =================================================================
     # Forms
     # ================================================================= */
  
  input {
    border-radius: 0;
  }
  
  /* ボタン要素にカーソルポインタを適用する */
  button,
  [type="button"],
  [type="reset"],
  [type="submit"],
  [role="button"] {
    cursor: pointer;
  }
  
  /* 無効化された要素のポインタ・カーソルを置き換える */
  [disabled] {
    cursor: default;
  }
  
  [type="number"] {
    width: auto; /* Firefox 36+ */
  }
  
  [type="search"] {
    -webkit-appearance: textfield; /* Safari 8+ */
  }
  
  [type="search"]::-webkit-search-cancel-button,
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; /* Safari 8 */
  }
  
  textarea {
    overflow: auto; /* Internet Explorer 11+ */
    resize: vertical; /* textareaのサイズ変更の指定 */
  }
  
  button,
  input,
  optgroup,
  select,
  textarea {
    font: inherit; /*フォーム要素のフォント継承を指定する */
  }
  
  optgroup {
    font-weight: bold; /* 前のルールで設定されていないフォントのウェイトを元に戻す。 */
  }
  
  button {
    overflow: visible; /* IE 8/9/10/11で`overflow`アドレスが`hidden`に設定されている。 */
  }
  
  /*Firefox 4+で内側のパディングとボーダーを削除する */
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: 0;
    padding: 0;
  }
  
  /* 上記のボーダーリセットで削除されたフォーカススタイルを置き換える */
  button:-moz-focusring,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    outline: 1px dotted ButtonText;
  }
  
  button,
  html [type="button"], /* Android 4 で、(2) がネイティブの `audio` と `video` コントロールを破壊する WebKit のバグを防ぐ。 */
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button; /* iOSでクリッカブル・タイプのスタイル設定ができない問題を修正 */
  }
  
  button,
  select {
    text-transform: none; /* Firefox 40+, Internet Explorer 11- */
  }
  
  /* すべてのブラウザでデフォルトのボタンスタイルを削除する */
  button,
  input,
  select,
  textarea {
    background-color: transparent;
    border-style: none;
    color: inherit;
  }
  
  /* 標準入力のようなスタイル選択 */
  select {
    -moz-appearance: none; /* Firefox 36+ */
    -webkit-appearance: none; /* Chrome 41+ */
  }
  
  select::-ms-expand {
    display: none; /* Internet Explorer 11+ */
  }
  
  select::-ms-value {
    color: currentColor; /* Internet Explorer 11+ */
  }
  
  legend {
    border: 0; /* IE 8/9/10/11 で `color` が継承されない問題を修正 */
    color: inherit; /*IEにおける`fieldset`要素の色継承を修正。 */
    display: table; /* EdgeとIEでテキストの折り返しを修正する */
    max-width: 100%; /* EdgeとIEでテキストの折り返しを修正する */
    white-space: normal; /* EdgeとIEでテキストの折り返しを修正する */
  }
  
  ::-webkit-file-upload-button {
    -webkit-appearance: button; /* iOSとSafariでクリッカブル・タイプのスタイル設定ができない問題を修正。 */
    font: inherit; /* ChromeとSafariでフォントのプロパティを「継承」に変更する */
  }
  
  [type="search"] {
    -webkit-appearance: textfield; /* ChromeとSafariで奇妙な外観を修正する */
    outline-offset: -2px; /* Safariのアウトラインスタイルを修正 */
  }
  
  /* # =================================================================
     # Specify media element style
     # ================================================================= */
  
  img {
    border-style: none; /* IE 8/9/10 で `a` 要素内にあるボーダーを削除する */
  }
  
  /* Chrome、Firefox、Operaで正しい垂直アライメントを追加する */
  progress {
    vertical-align: baseline;
  }
  
  svg:not(:root) {
    overflow: hidden; /* Internet Explorer 11- */
  }
  
  audio,
  canvas,
  progress,
  video {
    display: inline-block; /* Internet Explorer 11+, Windows Phone 8.1+ */
  }
  
  /* # =================================================================
     # Accessibility
     # ================================================================= */
  
  /*スクリーンからコンテンツを隠すが、スクリーンリーダーからは隠さない */
  @media screen {
    [hidden~="screen"] {
      display: inherit;
    }
    [hidden~="screen"]:not(:active):not(:focus):not(:target) {
      position: absolute !important;
      clip: rect(0 0 0 0) !important;
    }
  }
  
  /* 要素更新の進捗カーソルを指定する */
  [aria-busy="true"] {
    cursor: progress;
  }
  
  /* トリガー要素のポインターカーソルを指定する */
  [aria-controls] {
    cursor: pointer;
  }
  
  /* 無効、編集不可、その他操作不能な要素のスタイルなしカーソルを指定する。 */
  [aria-disabled] {
    cursor: default;
  }
  
  /* # =================================================================
     # Selection
     # ================================================================= */
  
  /* テキスト選択の背景色を指定し、ドロップシャドウを省く */
  
  ::-moz-selection {
    background-color: #b3d4fc; /* :selectionを宣言する際に必要 */
    color: #000;
    text-shadow: none;
  }
  
  ::selection {
    background-color: #b3d4fc; /* :selectionを宣言する際に必要 */
    color: #000;
    text-shadow: none;
  }